html {
    background-color: #1e1e1e;
    font-family: "Poppins", sans-serif;
    color: #d9d9d9;
    display: flex;
    justify-content: space-around;
}

#loading {
    text-align: center;
}

#container {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    max-width: 700px;
    min-width: 300px;
    flex-grow: 1;
}

.game-date {
    background-color: #1e1e1e;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.game-time {
    background-color: #1e1e1e;
    z-index: 1;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
}

.game {
    width: 100%;
    background-color: #242424;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.good-game {
    border: 2px solid rgba(0, 160, 37, 0.37);
}

.close-game {
    border: 2px solid rgba(163, 0, 0, 0.37);
}

.favorite-game {
    border: 2px solid rgba(1, 100, 248, 0.37);
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teams {
    flex-grow: 1;
}

.team {
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
    align-items: center;
}

.team-logo {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    filter: drop-shadow(0px 0px 10px rgba(87, 87, 87, 0.25));
}

.team-name {
    font-size: 14px;
    flex-grow: 1;
}

.rank {
    font-style: italic;
    color: #999999;
}

.score-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 30px;
}

.icon-holder {
    height: 6px;
}

.timeouts {
    height: 6px;
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
}

.timeout {
    height: 6px;
    width: 6px;
    background-color: #999999;
    border-radius: 100%;
}

.possession {
    width: 10px;
    height: 6px;
    display: flex;
    justify-content: space-around;
    margin: 2px 0px;
}

.possession-icon {
    display: inline-block;
    height: 6px;
    width: 10px;
    background-color: #999999;
    border-radius: 100%;
}

.score {
    font-size: 28px;
    margin: 0px 10px;
}

.progress {
    text-align: center;
    margin-left: 10px;
}

.team-info,
.last-play,
.network {
    font-size: 10px;
    font-style: italic;
}

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}

.text-danger-glow {
    color: #ff4141;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.295);
}

.blink {
    display: block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}
