html {
    background-color: #1e1e1e;
    font-family: "Poppins", sans-serif;
    color: #d9d9d9;
    display: flex;
    justify-content: space-around;
}

button {
    color: #d9d9d9;
    background-color: #242424;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}

#loading {
    text-align: center;
}

#buttons {
    visibility: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;
    background-color: #24242400;
}

.tab-button {
    flex-grow: 1;
    appearance: none;
    background-color: #24242400;
}

#container {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px;
    min-width: 300px;
    flex-grow: 1;
    margin-bottom: 20px;
}

.game-date {
    background-color: #1e1e1e;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.game-time {
    background-color: #1e1e1e;
    z-index: 1;
    width: 100%;
    padding: 5px 20px;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 35px;
}

.game {
    width: 100%;
    background-color: #242424;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.good-game {
    outline: 1px solid rgba(0, 202, 47, 0.45);
    outline-offset: 3px;
}

.close-game {
    outline: 1px solid rgba(211, 0, 0, 0.45);
    outline-offset: 3px;
}

.favorite-game {
    outline: 1px solid rgba(0, 117, 226, 0.45);
    outline-offset: 3px;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live-game {
    background-color: #ff4141;
    filter: drop-shadow(0 0 7px rgba(255, 0, 0, 0.692));
    animation: blinker 0.75s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
    display: inline-block;
    margin-right: 5px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
}

.teams {
    flex-grow: 1;
}

.team {
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
    align-items: center;
}

.team-logo {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    filter: drop-shadow(0px 0px 10px rgba(87, 87, 87, 0.25));
}

.team-name {
    font-size: 14px;
    flex-grow: 1;
}

.rank {
    font-style: italic;
    color: #999999;
}

.score-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 20px;
}

.timeouts {
    height: 4px;
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
}

.timeout {
    height: 4px;
    width: 4px;
    background-color: #535353;
    border-radius: 100%;
}

.possession-icon {
    display: inline-block;
    height: 6px;
    width: 10px;
    background-color: #535353;
    border-radius: 100%;
    position: relative;
    bottom: 1px;
    left: 1px;
}

.score {
    font-family: "Chivo Mono", monospace;
    font-size: 28px;
    margin: 0px 10px;
}

.progress {
    text-align: center;
    margin-left: 10px;
}

.team-info,
.last-play,
.network {
    font-size: 10px;
    font-style: italic;
}

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}

#settings {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#settings-button {
    display: none;
    background-color: #242424;
}

#save-button {
    background-color: #535353;
    flex-grow: 1;
}

#settings-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#settings-content {
    background-color: #242424;
    margin: 15% auto;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    width: 40%;
    min-width: 250px;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999999;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin-left: 15px;
}
