:root {
    --background: #111111;
    --foreground: #181818;
    --light-foreground: #535353;
    --border: #272727;
    --text: #ececec;
    --dark-text: #999999;
    --transparent: #00000000;
    --red: #d30000;
    --green: #0daf33;
    --blue: #0075e2;
}

html {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    color: var(--text);
    display: flex;
    justify-content: space-around;
}

button {
    color: var(--text);
    background-color: var(--background);
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    font-size: 14px;
    border: 1px solid var(--border);
}

button:hover {
    cursor: pointer;
}

@media (hover: hover) {
    button:hover {
        opacity: 0.7;
    }
}

#loading {
    text-align: center;
    max-width: 700px;
    min-width: 300px;
    flex-grow: 1;
    width: 100%;
}

#buttons {
    visibility: hidden;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.tab-button {
    flex-grow: 1;
    appearance: none;
}

#container {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px;
    min-width: 300px;
    flex-grow: 1;
    margin-bottom: 20px;
}

.game-date {
    background-color: var(--background);
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 5px 20px 0px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.game-time {
    background-color: var(--background);
    z-index: 1;
    width: 100%;
    padding: 5px 20px;
    font-size: 16px;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.game {
    width: 100%;
    background-color: var(--foreground);
    padding: 10px 15px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid var(--border);
}

.good-game {
    outline: 1px solid var(--green);
    outline-offset: 2px;
}

.close-game {
    outline: 1px solid var(--red);
    outline-offset: 2px;
}

.favorite-game {
    outline: 1px solid var(--blue);
    outline-offset: 2px;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live-game {
    background-color: var(--red);
    filter: drop-shadow(0 0 7px rgba(255, 0, 0, 0.692));
    animation: blinker 0.75s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
    display: inline-block;
    margin-right: 5px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
}

.teams {
    flex-grow: 1;
}

.team {
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
    align-items: center;
}

.team-logo {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    filter: drop-shadow(0px 0px 10px rgba(87, 87, 87, 0.25));
}

.team-name {
    font-size: 14px;
    flex-grow: 1;
}

.rank {
    font-style: italic;
    color: var(--dark-text);
}

.score-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 20px;
}

.timeouts {
    height: 4px;
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;
}

.timeout {
    height: 4px;
    width: 4px;
    background-color: var(--light-foreground);
    border-radius: 100%;
}

.possession-icon {
    display: inline-block;
    height: 6px;
    width: 10px;
    background-color: var(--light-foreground);
    border-radius: 100%;
    position: relative;
    bottom: 1px;
    left: 1px;
}

.score {
    font-family: "Chivo Mono", monospace;
    font-size: 28px;
    margin: 0px 10px;
}

.progress {
    text-align: center;
    margin-left: 10px;
}

.team-info,
.last-play,
.network {
    font-size: 10px;
    font-style: italic;
}

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}

#settings {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#settings-button {
    display: none;
    background-color: var(--foreground);
}

#save-button {
    background-color: var(--light-foreground);
    flex-grow: 1;
}

#settings-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#settings-content {
    background-color: var(--foreground);
    margin: 15% auto;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    width: 40%;
    min-width: 300px;
    border: 1px solid var(--border);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--dark-text);
    text-decoration: none;
    cursor: pointer;
}

form {
    margin-left: 15px;
}
